* .row {
    padding: 0px;
}

.dataTables_scrollHeadInner .dataTable {
    margin-bottom: 0 !important;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate {
    display: unset !important;
    margin-bottom: 1rem !important;
}

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate {
    float: right !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding-left: .25rem;
    padding-right: .25rem;
}
